---
layout: layouts/base.njk
---

{# SETUP #}
{#########}

{# Data #}
{% set pageData = pages[page_id] | default({}) %}
{% set sections = pageData.sections | default([]) %}
{% set sectionsIds = siteConfig.section_ids_home | default([]) %}

{# Directory paths #}
{% set path_sectionComps = "components/sections/" %}

{# MARKUP #}
{##########}

{% if not pageData or sections.length == 0 %}

    <div class="max-w-3xl mx-auto px-4 py-16 text-theme-muted">
        Kein Seiteninhalt gefunden.
    </div>

{% else %}

    {% for section in sections %}
        {# Set section id from config list based on loop index (if exists) #}
        {% set section_id = sectionsIds[loop.index0] if sectionsIds[loop.index0] else "" %}

        {# Hero section #}
        {% if section.type == "hero" %}
            {% include path_sectionComps + "page-section-hero.njk" %}
            
        {# Intro section #}
        {% elseif section.type == "intro" %}
            {% include path_sectionComps + "page-section-intro.njk" %}

        {# Text block section #}
        {% elseif section.type == "text_block" %}
            {% set mb = "mb-0" %}
            {% set without_innerBottomPadd = true %}
            {% set with_border_b = false %}
            {% include path_sectionComps + "page-section-text-block.njk" %}

            {# temporary work-around to render preview cards section in 3rd section #}
            {% if loop.index === 3 %}
                {% set mb = "mb-50" %}
                {% set with_border_t = false %}
                {% set with_border_b = true %}
                {% set cards = previewCardsItems %}
                {% include path_sectionComps + "page-section-preview-cards.njk" %}
            {% endif %}

        {# Directory tabs section #}
        {% elseif section.type == "directory_tabs" %}
            {% include path_sectionComps + "page-section-directory-tabs.njk" %}

        {# Call to action section #}
        {% elseif section.type == "call_to_action" %}
            {% include path_sectionComps + "page-section-call-to-action.njk" %}

        {# About section #}
        {% elseif section.type == "about" %}
            {% include path_sectionComps + "page-section-about.njk" %}

        {% endif %}

    {% endfor %}
    
{% endif %}