<header class="w-screen pl-[calc((100vw-1150px)/2)]">

    {# Inner layout wrpr. #}
    <div class="w-full flex justify-end items-stretch
                border-l border-bauturbo-blau">

        {# Logo #}
        <div id="site-logo"
             class="relative z-51
                    pl-6.5 pr-6 pt-5 pb-6
                    sm:pl-9 sm:pr-8 sm:pt-7 sm:pb-8
                    md:pl-13 md:pr-11 md:pt-10 md:pb-13
                    border-l border-bauturbo-blau bg-white">
            <a href="/" class="inline-flex items-center">
                {% if siteConfig.branding.logo %}
                    <img src="{{ siteConfig.branding.logo }}" 
                         alt="{{ siteConfig.name }}"
                         class="w-[150px] sm:w-[225px] md:w-[275px] xl:w-[320px]">
                {% endif %}
            </a>
        </div>
    </div>


</header>

