{# SETUP #}

{# MARKUP #}

{# Site nav #}
<div class="sticky top-0 left-0 z-50
            w-screen pl-40 pr-50 ">

    {# Inner layout wrpr. #}
    <div class="size-full pl-10 pb-4 pt-2 grid grid-cols-12 gap-x-10
                border-x border-b border-bauturbo-blau
                bg-white">

        {# Menu #}
        <nav class="col-span-10">
            <div class="w-full flex justify-between flex-wrap">
                {% if siteConfig.header_menu %}
                    {% for item in siteConfig.header_menu %}
                        <a  href="{{ item.url }}"
                            {% if item.external %} target="_blank" rel="noopener noreferrer" {% endif %}
                            class="text-link-sm text-bauturbo-blau">
                            {{ item.label }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </nav>

    </div>

</div>

<header class="w-screen pl-40">

    {# Inner layout wrpr. #}
    <div class="w-full flex justify-between items-stretch">

        <div class="h-full border-l border-bauturbo-blau">
        </div>

        {# Logo #}
        <div class="p-10 border-l border-bauturbo-blau">
            <a href="/" class="inline-flex items-center">
                {% if siteConfig.branding.logo %}
                    <img src="{{ siteConfig.branding.logo }}" 
                         alt="{{ siteConfig.name }}"
                         class="w-[337px]">
                {% endif %}
            </a>
        </div>

    </div>

</header>

