{# SETUP #}

{# Size config./classes #}
{% if size == 'xs' %}
    {% set sizeClasses = "text-xs" %}
{% elif size == 'sm' %}
    {% set sizeClasses = "text-sm" %}
{% elif size == 'sm-plus' %}
    {% set sizeClasses = "text-sm-plus" %}
{% elif size == 'md' %}
    {% set sizeClasses = "text-md" %}
{% elif size == 'lg' %}
    {% set sizeClasses = "text-lg" %}
{% else %}
    {% set sizeClasses = "text-sm" %}
{% endif %}

{# Columns config. #}
{% set colCount = colCount or 1  %}

{# Color config. #}
{% set color = color or '#000'  %}

{# MARKUP #}
<div class="{{ sizeClasses }} text-(--color) columns-(--col-count) gap-10"
     style="--color: {{ color }};
            --col-count: {{ colCount }};">
    <p>{{ text or "Default text" }}</p>
</div>