{# SETUP #}
{#########}

{# Size config./classes #}
{% if size == 'xs' %}
    {% set sizeClasses = "text-xs" %}
{% elif size == 'sm' %}
    {% set sizeClasses = "text-sm" %}
{% elif size == 'sm-plus' %}
    {% set sizeClasses = "text-sm-plus" %}
{% elif size == 'md' %}
    {% set sizeClasses = "text-md" %}
{% elif size == 'lg' %}
    {% set sizeClasses = "text-lg" %}
{% else %}
    {% set sizeClasses = "text-sm" %}
{% endif %}

{# Columns config. #}
{% set colCount = colCount or 1  %}

{# Color config. #}
{% set color = color or '#000'  %}

{# Render config. #}
{% set is_markdown = is_markdown or false  %}

{# MARKUP #}
{##########}

<div class="{{ sizeClasses }} text-(--color) lg:columns-(--col-count) gap-10
            {{ class or "" }}"
     style="--color: {{ color }};
            --col-count: {{ colCount }};">

    {% if is_markdown %}
        {{ text | markdown | safe }}
    {% else %}
         <p>{{ text }}</p>
    {% endif %}
</div>