{# SETUP #}

{# Level config (default to h2) #}
{% set headingLevel = lvl or 2 %}

{# Size config./classes #}
{% if size == 'sm' %}
    {% set sizeClasses = "hdl-sm" %}
{% elif size == 'md' %}
    {% set sizeClasses = "hdl-md" %}
{% elif size == 'lg' %}
    {% set sizeClasses = "hdl-lg" %}
{% elif size == 'xl' %}
    {% set sizeClasses = "hdl-xl" %}
{% else %}
    {% set sizeClasses = "hdl-md" %}
{% endif %}

{# MARKUP #}

<div class="{{ sizeClasses }} text-bauturbo-blau
            {% if headingLevel == 1 %} italic{% endif %}
            {{ class or "" }}">
    <h{{ headingLevel }}>{{ text_hdl or "Default Headline" }}</h{{ headingLevel }}>
</div>