{# SETUP #}
{#########}

{# ... #}

{# MARKUP #}
{##########}

<form 
    novalidate
    data-contact-form>

    <div class="grid grid-cols-12 gap-y-6 sm:gap-x-8 sm:gap-y-8">

        {# Name #}
        <div class="col-span-12 sm:col-span-6">
            {% set field_name = "name" %}
            {% set field_label = section.label_name or "Name" %}
            {% set field_placeholder = section.placeholder_name or "" %}
            {% set field_required = true %}
            {% set field_type = "text" %}
            {% include "components/forms/form-field-input.njk" %}
        </div>

        {# E-Mail #}
        <div class="col-span-12 sm:col-span-6">
            {% set field_name = "email" %}
            {% set field_label = section.label_email or "E-Mail" %}
            {% set field_placeholder = section.placeholder_email or "" %}
            {% set field_required = true %}
            {% set field_type = "email" %}
            {% include "components/forms/form-field-input.njk" %}
        </div>

        {# Subject #}
        <div class="col-span-12">
            {% set field_name = "subject" %}
            {% set field_label = section.label_subject or "Betreff" %}
            {% set field_placeholder = section.placeholder_subject or "" %}
            {% set field_required = false %}
            {% set field_type = "text" %}
            {% include "components/forms/form-field-input.njk" %}
        </div>

        {# Message #}
        <div class="col-span-12">
            {% set field_name = "message" %}
            {% set field_label = section.label_message or "Nachricht" %}
            {% set field_placeholder = section.placeholder_message or "" %}
            {% set field_required = true %}
            {% set field_rows = 6 %}
            {% include "components/forms/form-field-textarea.njk" %}
        </div>

        {# Consent #}
        <div class="col-span-12">
            {% set field_name = "consent" %}
            {% set field_label = section.label_consent or "Ich stimme der Verarbeitung meiner personenbezogenen Daten gemäß der <a href='/datenschutz' class='underline underline-offset-2'>Datenschutzerklärung</a> zu." %}
            {% set field_required = true %}
            {% include "components/forms/form-field-checkbox.njk" %}
        </div>

        {# Submit #}
        <footer class="col-span-12 mt-2 sm:mt-4">
            <button type="submit"
                    data-contact-form-submit
                    data-label-default="{{ section.cta_label or 'Nachricht senden' }}"
                    class="p-btn-cta-md
                            text-btn-sm border
                            text-bauturbo-blau bg-white border-bauturbo-blau
                            hover:bg-bauturbo-blau hover:text-white
                            disabled:opacity-50 disabled:cursor-not-allowed
                            transition-colors duration-150">
                {{ section.cta_label or "Nachricht senden" }}
            </button>
        </footer>

        {# Status message #}
        <div class="col-span-12"
             data-contact-form-status
             hidden></div>

    </div>

</form>

{# Contact form script #}
<script type="text/javascript" src="/assets/scripts/contact-form.js"></script>