{# SETUP #}
{#########}

{% set field_id = field_id or field_name %}
{% set field_required = field_required or false %}
{% set field_options = field_options or [] %}

{# Color config. #}
{% set color_border = color_border or "var(--color-bauturbo-blau)" %}
{% set color_border_focus = color_border_focus or "var(--color-bauturbo-rot)" %}

{# MARKUP #}
{##########}

<div class="flex flex-col gap-y-2 {{ class or "" }} form-field-wrapper">

    {% if field_label %}
        <label for="{{ field_id }}"
               class="text-label-xxs">
            {{ field_label }}{% if field_required %}<span class="text-bauturbo-rot ml-1 normal-case font-normal" aria-hidden="true">*</span>{% endif %}
        </label>
    {% endif %}

    <select id="{{ field_id }}"
            name="{{ field_name }}"
            {% if field_required %}required aria-required="true"{% endif %}
            class="w-full px-3.5 py-2.75
                   text-sm text-bauturbo-blau
                   bg-white
                   border border-(--color-border)
                   outline-none focus:border-(--color-border-focus)
                   transition-colors duration-150"
            style="--color-border: {{ color_border }};
                   --color-border-focus: {{ color_border_focus }};">

        {% if field_placeholder %}
            <option value="" disabled {% if not field_value %}selected{% endif %}>{{ field_placeholder }}</option>
        {% endif %}

        {% for option in field_options %}
            <option value="{{ option.value }}" {% if field_value == option.value %}selected{% endif %}>
                {{ option.label }}
            </option>
        {% endfor %}

    </select>

</div>
