{# SETUP #}
{#########}

{% set field_id = field_id or field_name %}
{% set field_required = field_required or false %}
{% set field_checked = field_checked or false %}
{% set field_value = field_value or "1" %}

{# Color config. #}
{% set color_accent = color_accent or "var(--color-bauturbo-blau)" %}

{# MARKUP #}
{##########}

<div class="flex gap-x-3 items-start {{ class or "" }}">

    <input  type="checkbox"
            id="{{ field_id }}"
            name="{{ field_name }}"
            value="{{ field_value }}"
            {% if field_checked %}checked{% endif %}
            {% if field_required %}required aria-required="true"{% endif %}
            class="mt-1 shrink-0 size-4
                   border border-(--color-accent)
                   accent-(--color-accent)
                   cursor-pointer"
            style="--color-accent: {{ color_accent }};">

    {% if field_label %}
        <label for="{{ field_id }}"
               class="text-sm text-bauturbo-blau leading-snug cursor-pointer">
            {{ field_label | safe }}{% if field_required %}<span class="text-bauturbo-rot ml-1" aria-hidden="true">*</span>{% endif %}
        </label>
    {% endif %}

</div>
