<div class="px-pad-content-section-x-tblt md:px-pad-content-section-x
            pt-pad-content-section-y-tblt md:pt-pad-content-section-y
            pb-[calc(var(--pb-inner)+var(--mb))]
            grid grid-cols-12 gap-x-10
            border-x border-bauturbo-blau">