{# SETUP #}
{#########}

{# Color config. #}
{% set color_text = color_text or "var(--color-bauturbo-blau)" %}
{% set color_text_hover = color_text_hover or "#fff" %}
{% set color_bg = color_bg or "#fff" %}
{% set color_bg_active = color_bg_active or "var(--color-bauturbo-blau)" %}
{% set color_border = color_border or "var(--color-bauturbo-blau)" %}

{# MARKUP #}
{##########}

<button 
    type="button"

    class="px-1.75 pt-px pb-1.75
           text-btn-sm border
           text-(--color-text) bg-(--color-bg) border-(--color-border)
           hover:bg-(--color-bg-active) hover:text-(--color-text-hover)
           {{ class or "" }}"

    style="--color-text: {{ color_text }};
           --color-text-hover: {{ color_text_hover }};
           --color-bg: {{ color_bg }};
           --color-bg-active: {{ color_bg_active }};
           --color-border: {{ color_border }};"

    {% if dataAttrs %}
        {% for key, value in dataAttrs %}
            {% if value %}
                data-{{ key }}="{{ value | attrSafe }}"
            {% endif %}
        {% endfor %}
    {% endif %}>

    {{ text }}

</button>