{# SETUP #}
{#########}

{% set id = dirData.id %}
{% set text = dirData.name %}
{% set is_first = loop.first %}

{# Color config. #}
{% set color_text = color_text or "var(--color-bauturbo-blau)" %}
{% set color_text_hover = color_text_hover or "#fff" %}
{% set color_bg = color_bg or "#fff" %}
{% set color_bg_active = color_bg_active or "var(--color-bauturbo-blau)" %}
{% set color_border = color_border or "var(--color-bauturbo-blau)" %}

{# MARKUP #}
{##########}

<button 
    id="tab-{{ id }}"
    type="button"
    role="tab"
    data-tab-button="{{ id }}"
    aria-controls="panel-{{ id }}"
    aria-selected="{% if is_first %} true {% else %} false {% endif %}"
    tabindex="{% if is_first %} 0 {% else %} -1 {% endif %}"

    class="px-1.75 pt-px pb-1.75
           text-btn-sm border
           text-(--color-text) bg-(--color-bg) border-(--color-border)
           hover:bg-(--color-bg-active) hover:text-(--color-text-hover)"

    style="--color-text: {{ color_text }};
           --color-text-hover: {{ color_text_hover }};
           --color-bg: {{ color_bg }};
           --color-bg-active: {{ color_bg_active }};
           --color-border: {{ color_border }};">

    {{ text }}

</button>