{# SETUP #}
{# Preview cards section component #}

{% set mb = mb or "mb-50" %}
{% if with_border_t is not defined %}{% set with_border_t = true %}{% endif %}
{% if with_border_b is not defined %}{% set with_border_b = true %}{% endif %}

{# MARKUP #}
<section class="relative w-full"
         style="--mb: {{ mb }}rem;
                --pb-inner: 4.5rem;">

    {# Inner wrapper for placement of top/bottom horizontal border #}
    <div class="{% if with_border_t %}
                    before:content-['_'] before:absolute before:top-0 before:w-full before:h-px before:bg-bauturbo-blau
                {% endif %}
                
                {% if with_border_b %}
                    after:content-['_'] after:absolute after:bottom-(--mb) after:w-full after:h-px after:bg-bauturbo-blau
                {% endif %}">

        {# Inner layout wrapper #}
        <div class="relative max-w-page-content mx-auto">
    
            <div class="px-5 sm:px-pad-content-section-x-tblt md:px-pad-content-section-x
                        py-5 sm:py-pad-content-section-y-tblt md:py-pad-content-section-y
                        pb-[calc(var(--pb-inner)+var(--mb))]!
                        grid grid-cols-12 md:gap-x-10 
                        border-x border-bauturbo-blau">
                
                <div class="col-span-12">
                    {% include "components/assets-list/assets-list.njk" %}
                </div>
                
            </div>
            
        </div>

    </div>
    
</section>