{# Text block section component - receives section data from parent #}

{# SETUP #}
{#########}

{% set mb = mb or "mb-50" %}
{% if without_innerBottomPadd is not defined %}{% set without_innerBottomPadd = true %}{% endif %}
{% if with_border_t is not defined %}{% set with_border_t = true %}{% endif %}
{% if with_border_b is not defined %}{% set with_border_b = true %}{% endif %}

{# MARKUP #}
{##########}

<section class="relative {{ mb }}">

    {# Inner wrapper for placement of top/bottom horizontal border #}
    <div class="{% if with_border_t %}
                    before:content-['_'] before:absolute before:top-0 before:w-full before:h-px before:bg-bauturbo-blau
                {% endif %}
                
                {% if with_border_b %}
                    after:content-['_'] after:absolute after:bottom-0 after:w-full after:h-px after:bg-bauturbo-blau
                {% endif %}">

        {# Inner layout wrapper #}
        <div class="relative max-w-page-content mx-auto">

            {# Section tag #}
            {% if section.tag %}
                {% set text_tag = section.tag %}
                {% include "components/tags/tag-page-section.njk" %}
            {% endif %}
            
            {# Section content #}
            <div class="px-pad-content-section-x py-pad-content-section-y
                        {% if without_innerBottomPadd %} pb-0! {% endif %}
                        grid grid-cols-12 gap-x-10
                        border-x border-bauturbo-blau">

                <div class="col-span-12">
                    {# Headline #}
                    {% if section.headline %}
                        {% set has_mb = section.subheadline or section.text %}
                        <div class="{% if has_mb %} mb-6.75 {% endif %}">
                            {% set size = "lg" %}
                            {% set lvl = 2 %}
                            {% set text_hdl = section.headline %}
                            {% include "components/headlines/headline.njk" %}
                        </div>
                    {% endif %}

                    {# Subheadline #}    
                    {% if section.subheadline %}
                        {% set has_mb = section.text %}
                        <div class="{% if has_mb %} mb-6.75 {% endif %}">
                            {% set size = "md" %}
                            {% set lvl = 3 %}
                            {% set text_hdl = section.subheadline %}
                            {% include "components/headlines/headline.njk" %}
                        </div>
                    {% endif %}
                
                    {# Text #}
                    {% if section.text %}
                        <div>
                            {% set size = "sm" %}
                            {% set text = section.text %}
                            {% include "components/texts/text.njk" %}
                        </div>
                    {% endif %}
                </div>
                
            </div>

        </div>

    </div>

</section>