{# SETUP #}

{# Hero section component - receives section data from parent #}

{# MARKUP #}

<div class="relative w-full pl-40 pr-50 mb-50
            border-y border-bauturbo-blau">

    {# Section tag #}
    {% if section.tag %}
        {% set text_tag = section.tag %}
        {% include "components/tags/tag-page-section.njk" %}
    {% endif %}

    <div class="pl-10 pt-7 pb-9 grid grid-cols-12 gap-x-10
                border-x border-bauturbo-blau">

        <div class="col-span-9">
            {# Headline #}
            {% if section.headline %}
                {% set size = "xl" %}
                {% set lvl = 1 %}
                {% set text_hdl = section.headline %}
                {% include "components/headlines/headline.njk" %}
            {% endif %}

            {# Text #}
            {% if section.text %}
                <div class="mt-10">
                    {% set size = "sm-plus" %}
                    {% set text = section.text %}
                    {% include "components/texts/text.njk" %}
                </div>
            {% endif %}

            {# Call-to-action #}
            {% if section.cta_label and section.cta_url %}
                <div class="mt-10">
                    <a  class="inline-flex items-center px-4 py-2 text-sm font-semibold border directories-button"
                        href="{{ section.cta_url }}"
                        target="_blank"
                        rel="noopener noreferrer">
                        {{ section.cta_label }}
                    </a>
                </div>
            {% endif %}
        </div>

    </div>

</div>