---
pagination:
  data: pagesList
  size: 1
  alias: page
permalink: "{{ page.permalink }}"
eleventyComputed:
  layout: "{% if page.page_id == 'home' %}layouts/home.njk{% else %}layouts/about.njk{% endif %}"
  page_id: "{{ page.page_id }}"
  title: "{{ page.title | default(siteConfig.name) }}"
---
