# Microservice Port
PORT=3000

# CORS Allowed Origins (Comma separated)
# Example: https://praxiswissen.umsetzungslabor-bauturbo.de,http://localhost:8080
ALLOWED_ORIGIN=

# MailerSend Secrets
MAILERSEND_API_KEY=your_mailersend_api_key
MAILERSEND_FROM_EMAIL=noreply@yourdomain.de
MAILERSEND_FROM_NAME="Bauturbo Umsetzungslabor"
MAILERSEND_TO_EMAIL=recipient@yourdomain.de
