{# SETUP #}
{#########}

{# ... #}

{# MARKUP #}
{##########}

<aside class="col-span-12 md:col-span-3
              border-r border-bauturbo-blau">

    {# Search section #}
    <div class="flex flex-col">
        <div class="pt-2.75 pb-3.5 
                    pl-5 sm:pl-pad-directory-section-x
                    border-b border-bauturbo-blau">
            <span class="text-label-xs">Suche</span>
        </div>

        <div class="px-5 sm:px-pad-directory-section-x 
                    py-5 sm:py-pad-directory-section-x">
            <input
                type="text"
                placeholder="Stichwort eingeben..."
                data-search-input
                class="px-3 py-2 w-full block border border-bauturbo-blau">
        </div>
    </div>

    {# Filter section #}
    <div class="flex flex-col">
        <div class="pt-2.75 pb-3.5 
                    pl-5 sm:pl-pad-directory-section-x
                    border-y border-bauturbo-blau">
            <span class="text-label-xs">Filter</span>
        </div>

        {# <button type="button" class="text-xs directories-filter-text transition-colors" data-clear-filters>
            Alle Filter loeschen
        </button> #}
    
        {# Filter groups #}
        <div data-filter-container>
            {% for filter in dir.filters %}
                {% if filter.type == 'date_range' or (filter.options and filter.options.length > 0) %}
                    {% include "components/directories-tabs/directory-filter-group.njk" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

</aside>
