{# SETUP #}
{#########}

{% set url_entryPage = dir.path ~ "/items/" ~ item.Id ~ "/?from=" ~ (page.url | default('/')) %}
{% set zielgruppe = item.zielgruppe.split(',')[0].trim() if item.zielgruppe else null %}

{# MARKUP #}
{##########}

<article class="item-card group col-span-1 
                px-3 py-3 pt-2
                sm:px-6 sm:py-5.25
                border border-bauturbo-blau
                transition-shadow hover:shadow-md"

        {% for filter in dir.filters %}
        {% set value = item[filter.field] %}
        {% if value %}
            data-{{ filter.field }}="{{ value | attrSafe }}"
        {% endif %}
        {% endfor %}>

    <a href="{{ url_entryPage }}"
       class="block">

        {# Header #}
        <header class="mb-5">
            {% set size = "sm" %}
            {% set lvl = 2 %}
            {% set text_hdl = item[dir.display.title_field] %}
            {% set class = "font-bold!" %}
            {% include "components/headlines/headline.njk" %}

            {# Tags #}
            <div class="mt-5 flex items-center gap-1 flex-wrap">
                {# Main tag #}
                {% set colorTheme_tag = 'blue-white' %}
                {% if dir.name === 'Umsetzungslabor' %}
                    {% set text_tag_raw = item['formate-ergebnisse'] %}
                {% elif dir.name === 'Grundsatzbeschlüsse' %}
                    {% set text_tag_raw = item['from'] %}
                {% elif dir.name === 'Kommunale Praxis' %}
                    {% set text_tag_raw = item['themenschwerpunkte'] %}
                {% elif dir.name === 'Anwendungsbeispiele' %}
                    {% set text_tag_raw = item['status'] %}
                {% elif dir.name === 'Publikationen' %}
                    {% set text_tag_raw = item['thematische-schwerpunkte'] %}
                {% elif dir.name === 'Veranstaltungen' %}
                    {% set text_tag_raw = item['start_date'] | formatDate(true) %}
                    {% set colorTheme_tag = 'white-blue' %}
                {% elif dir.name === 'FAQ' %}
                    {% set text_tag_raw = item['staatliche-ebene'] %}
                {% elif dir.name === 'Auf dem Laufenden bleiben' %}
                    {% set text_tag_raw = item['format'] %}
                {% endif %}
                {% if text_tag_raw %}
                    {% for text_tag in (text_tag_raw | string).split(',') %}
                        {% set text_tag = text_tag | trim %}
                        {% if text_tag %}
                            {% include "components/tags/tag.njk" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {# Secondary tags #}
                {% if dir.name === 'Kommunale Praxis' and item['dokumentart'] %}
                    {% for text_tag in (item['dokumentart'] | string).split(',') %}
                        {% set text_tag = text_tag | trim %}
                        {% if text_tag %}
                            {% include "components/tags/tag.njk" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if dir.name === 'Veranstaltungen' and item['teilnahme'] %}
                    {% set colorTheme_tag = 'blue-white' %}
                    {% for text_tag in (item['teilnahme'] | string).split(',') %}
                        {% set text_tag = text_tag | trim %}
                        {% if text_tag %}
                            {% include "components/tags/tag.njk" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </header>

        {# Body #}
        <div class="mb-5">
            {# Excerpt #}
            {% if dir.display.excerpt_field and item[dir.display.excerpt_field] %}
                {% set size = "xs" %}
                {% set class = null %}
                {% set text = item[dir.display.excerpt_field] | truncateChars(200) %}
                {% include "components/texts/text.njk" %}
            {% endif %}
        </div>

        {# Footer #}
        <footer class="flex justify-start gap-x-5">
            {% set text = "Mehr erfahren" %}
            {% include "components/btns/btn-cta.njk" %}
        </footer>

    </a>

</article>
